/*
 //  <====== global styles starts ======>
 */

@import url("https://fonts.googleapis.com/css?family=Oswald|Pacifico&display=swap");

html {
  font-size: 65%;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-size: 1.4rem;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 3.665rem;
}

h2,
h3,
h4,
h5 {
  margin: 2rem;
  color: #050117;
  letter-spacing: 0;
  line-height: 2rem;
  padding: 0;
  font-weight: normal;
}

a {
  color: #695958;
  text-decoration: none;
  background-color: transparent;
}

li a {
  color: #695958;
}

a:hover {
  color: #f44336;
  text-decoration: underline;
}

svg.svg-inline--fa.fa-video.fa-w-18.fa-lg:hover {
  color: #f44336;
}

/*
 <====== logo & subhead section ======>
 */

.subheader {
  font-size: 2.265rem;
  color: #050117;
}

.logo-nav {
  color: #050117;
  text-decoration: none;
}

.logo-nav:hover {
  text-decoration: none;
  color: inherit;
}

/*
 <====== navbar section ======>
 */

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

.flex-item {
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: #695958;
  font-weight: bold;
  font-size: 2.265rem;
  text-align: center;
}

/*
 <====== toolbar styles starts ======>
 
*/

.helprr-app {
  padding: 4rem;
  margin-bottom: 2rem;
}

.comments-txt {
  font-family: "Pacifico", cursive;
  font-size: 2.265rem;
  color: #050117;
}

.topright {
  position: absolute;
  top: -60px;
  right: 30px;
  cursor: pointer;
  color: #fff;
}

.modal-parent {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
